*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET DES PARAMETRES CSS */

header {
    width: 100vw;
    height: 100vh;
}

.self {
    position: relative;
    border-radius: 50%;
    border: 15px solid #F4DED3;
    margin-top: 5rem;
}

.logo_css, .logo_figma, .logo_symphony, .logo_bookstrap , .logo_javascript, .logo_html, .logo_php, .logo_code {
    width: 3%;
    position: absolute;
}

.logo_css {
    left: 12%;
    top: 35%;
}
.logo_figma {
    left: 13%;
    bottom: 35%;
}
.logo_symphony {
    left: 39%;
    top: 10%;
}
.logo_bookstrap {
    left: 43%;
    bottom: 35%;
}
.logo_javascript {
    left: 18%;
    bottom: 19%;
}
.logo_html {
    left: 18%;
    top: 9%;
}
.logo_php {
    left: 45%;
    top: 35%;
}
.logo_code {
    left: 36%;
    bottom: 18%;
}
.text_accroche_h {
    position: absolute;
    left: 55%;
    top: 30%;
    font-family: 'Redressed';
    font-size: 4rem;
    color: #B1E4D7;
    text-shadow: 0px 4px 4px #F4DED3;
}

.text_accroche_b {
    position: absolute;
    left: 55%;
    top: 42%;
    font-family: 'Ruda';
    font-style: Bold;
    font-size: 3rem;
    color: #B1E4D7;
    text-shadow: 0px 4px 4px #F4DED3;
}

.text_accroche_d {
    position: absolute;
    left: 55%;
    top: 50%;
    font-family: 'Reenie Beanie';
    font-size: 4rem;
    color: #B1E4D7;
    text-shadow: 0px 4px 4px #F4DED3;
}

#btn_cv {
    position: absolute;
    left: 60%;
    top: 70%;
    background-color: #F4DED3;
    box-shadow: 0px 8px 8px #B1E4D7;
    border-radius: 10px;
}

.btn {
    font-style: 'Reenie Beanie';
    background-color: #F4DED3;
    border-color: #F4DED3;
}

/* deuxième page */

#front_back {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.front_block {
    height: 65vh;
    width: 25vw;
    position: absolute;
    left: 20%;
    top: 20%;
    background: rgba(177, 228, 215, 1);
    box-shadow: 15px 15px 15px #F4DED3;
    border-radius: 10px;
}

.front_block img {
    width: 8vw;
    display: block;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.front_back_f {
    padding-top: 16%;
    font-family: 'Ruda';
    font-size: 3rem;
    text-align: center;
    color: #F4DED3;
    text-shadow: 2px 2px 2px #C0564B;
}

.front_back_s {
    padding-top: 10%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

.front_back_e {
    padding-top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

.back_block {
    height: 65vh;
    width: 25vw;
    position: absolute;
    right: 20%;
    top: 20%;
    background: rgba(177, 228, 215, 1);
    box-shadow: 15px 15px 15px #F4DED3;
    border-radius: 10px;
}

.back_block img{
    width: 8vw;
    display: block;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.front_back_b {
    font-family: 'Ruda';
    font-style: normal;
    font-size: 3rem;
    display: block;
    padding-top: 16%;
    text-align: center;
    color: #F4DED3;
    text-shadow: 2px 2px 2px #C0564B;
}

.front_back_si {
    padding-top: 10%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

.front_back_ba {
    padding-top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

/*3ème page projets dev*/

#projets {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.portfolio {
    display: block;
    font-family: 'Ruda';
    font-size: 4rem;
    margin-left: 30%;
    margin-top: 10%;
    color: #F4DED3;
}

.mes_projets {
    display: block;
    font-family: 'Redressed';
    font-size: 4rem;
    margin-left: 45%;
    color: #B1E4D7;
}

.projet_image {
    border-radius: 50%;
    display: block;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid #F4DED3;
}

/* Diplômes formations*/

#diplomes {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.mes_diplomes img {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: -50%;
    top:-70%;
}

.mes_diplomes {
    position: absolute;
    left: 35%;
    top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400%;
    font-size: 600%;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px rgba(192, 86, 75, 0.5);
}

.formations {
    position: absolute;
    left: 50%;
    top: 15%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500%;
    font-size: 600%;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.ligne_p {
    height: 15px;
    width: 80%;
    left: 10%;
    top: 60%;
    border-radius: 15px;
    position: absolute;
    border: 15px solid #B1E4D7;
    box-sizing: border-box;
}

.class_1 {
    position: absolute;
    left: 14%;
    top: 50%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500%;
    font-size: 200%;
    line-height: 34%;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 1px 1px 1px #C0564B;
}

.class_1_1_1 {
    position: absolute;
    height: 7%;
    top: 55%;
    left: 16%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_2 {
    position: absolute;
    left: 25%;
    top: 70%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.class_1_1_2 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 61%;
    left: 30%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_3 {
    position: absolute;
    left: 40%;
    top: 47%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 1px 1px 1px #C0564B;
}

.class_1_1_3 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 55%;
    left: 44%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_4 {
    position: absolute;
    left: 55%;
    top: 70%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.class_1_1_4 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 61%;
    left: 62%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_5 {
    position: absolute;
    left: 74%;
    top: 43%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 1px 1px 1px #C0564B;
}

.class_1_1_5 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 55%;
    left: 80%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

/*section expériences*/

#experiences {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #B1E4D7;
}

.mes_experiences {
    position: absolute;
    left: 25%;
    top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 4rem;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #C0564B;
}

.professionnels {
    position: absolute;
    left: 55%;
    top: 10%;
    font-family: 'Rokkitt';
    font-style: normal;
    font-size: 4rem;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px #C0564B;
}

.timeline-block {
    position: relative;
}

.timeline {
    padding: 17% 10%;
    height: 100vh;
    position: relative;
}
.timeline:before {
    content: " ";
    top: 25%;
    bottom: 15%;
    position: absolute;
    width: 5px;
    background-color: #F4DED3;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li {
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 100%;
    float: right;
    margin-right: 40px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 2px 6px rgba(244,222,211, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
    color: #B1E4D7;
}
.timeline-heading h4 {
    color: #F4DED3;
}

.timeline-heading p {
    color: #B1E4D7;
}

.timeline-body p {
    color: #F4DED3;
}

/* Compétences et Qualités*/

#competences_qualites {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.ligne_horizontal_1 {
    position: absolute;
    width: 12%;
    top: 20%;
    left: 45%;
}

.competences {
    position: absolute;
    left: 23%;
    top: 4%;
    font-family: 'Reenie Beanie';
    font-size: 5rem;
    align-items: center;
    text-align: center;
    color: #F4DED3;
}

.et {
    position: absolute;
    left: 50%;
    top: 8%;
    font-family: 'Reenie Beanie';
    font-size: 5rem;
    text-align: center;
    color: #B1E4D7;
}

.qualites {
    position: absolute;
    left: 60%;
    top: 10%;
    font-family: 'Ruda';
    font-size: 4rem;
    text-align: center;
    color: #F4DED3;
}

.les_competences {
    position: absolute;
    left: 20%;
    top: 40%;
    font-family: 'Ruda';
    align-items: center;
    text-align: center;
    color: #F4DED3;
}

.les_qualites {
    position: absolute;
    left: 55%;
    top: 43%;
    font-family: 'Ruda';
    align-items: center;
    text-align: center;
    color: #F4DED3;
}

.point_1 ::before{
    position: absolute;
    height: 4%;
    width: 2%;
    left: 49.5%;
    top: 26.5%;
    border-radius: 50%;
    background: #F4DED3;
    box-shadow: 0px 4px 4px rgba(192, 86, 75, 0.5);
}

.lignes_fine_carre {
    position: absolute;
    width: 30%;
    left: 8%;
    top: 26%;
    border-radius: 15px;
    border: 5px solid #F4DED3;
    background: #F4DED3;
    transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}

.lignes_fine_carre_2 {
    position: absolute;
    width: 30%;
    right: 8%;
    top: 26%;
    border-radius: 15px;
    border: 5px solid #F4DED3;
    background: #F4DED3;
    transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}

.carre_ligne {
    height: 7%;
    width: 100vw;
    top: 23%;
    border-radius: 0px;
    position: absolute;
    background: #B1E4D7;
    border: 4px solid #F4DED3;
    box-sizing: border-box;
}

.html, .js, .mysql, .symphony {
    font-family: Ruda;
    font-size: 3rem;
    line-height: 200%;
    text-align: center;
}

.css, .php, .bookstrap {
    font-family: Redressed;
    font-size: 3rem;
    line-height: 2rem;
    text-align: center;
}

.organise, .curieux, .ecoute {
    font-family: Reenie Beanie;
    font-size: 5rem;
    line-height: 100%;
    text-align: center;
}

.rigoureux, .partage {
    font-family: Ruda;
    font-size: 3rem;
    line-height: 150%;
    text-align: center;
}

/* Contact*/

#contact {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.contacts {
    position: absolute;
    width: 10%;
    left: 45%;
    top: 5%;
    border-radius: 10px;
    font-size: 600%;
    font-style: normal;
    text-align: center;
    font-family: 'Reenie Beanie';
    align-items: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px #C0564B;
}

.tel {
    position: absolute;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400%;
    font-size: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #B1E4D7;
    height: 10%;
    width: 150%;
    top: 70%;
    left: -25%;
}

.cercle_tel {
    position: absolute;
    height: 40%;
    width: 20%;
    left: 25%;
    top: 15%;
    border-radius: 50%;
    border: 30px solid #F4DED3;
    box-sizing: border-box;
}

.tel_svg {
    position: absolute;
    width: 35%;
    left: 30%;
    top: 20%;
}

.e_mail {
    position:absolute;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400%;
    font-size: 150%;
    text-align: center;
    color: #F4DED3;
    top: 60%;
    left: 25%;
}

.cercle_email {
    position: absolute;
    height: 40%;
    width: 20%;
    left: 60%;
    top: 15%;
    border-radius: 50%;
    border: 30px solid #B1E4D7;
    box-sizing: border-box;
}

.e_mail_svg {
    position: absolute;
    width: 40%;
    left: 32%;
    top: 18%;
}

.cercle_github {
    position: absolute;
    border: 30px solid #B1E4D7;
    box-sizing: border-box;
    height: 30%;
    width: 15%;
    left: 10%;
    top: 45%;
    border-radius: 50%;
}

.cercle_link {
    position: absolute;
    height: 30%;
    width: 15%;
    left: 80%;
    top: 45%;
    border-radius: 50%;
    border: 30px solid #F4DED3;
    box-sizing: border-box;
}

.linkedin {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 23%;
}


.cercle_github .github {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 15%;
}

.etoile_1_1 {
    position: absolute;
    width: 10vw;
    left: 10%;
    top: 10%;
}

.etoile_2_1 {
    position: absolute;
    width: 10vw;
    left: 45%;
    top: 60%;
}

.etoile_3_1 {
    position: absolute;
    width: 10vw;
    left: 80%;
    top: 10%;
}

.bas_de_page {
    position: absolute;
    height: 10%;
    width: 100vw;
    bottom: 0;
    background: #B1E4D7;
}

/* médiaqueries */

/* phone */
