*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET DES PARAMETRES CSS */

header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#image_profil {
    position: relative;
    height: 597px;
    width: 578px;
    left: 5%;
    top: 20%;
    border-radius: 50%;
    background: url(1582758581175-removebg-preview.png), linear-gradient(180deg, #B1E4D7 0%, #FFFFFF 20.31%, #F4DED3 39.06%, #FFFFFF 59.37%, #B1E4D7 93.75%);
    mix-blend-mode: normal;
    box-shadow: 8px 8px 8px 8px #F4DED3;
}

.logo_css {
    width: 40px;
    position: absolute;
    left: 1%;
    top: 50%;
}
.logo_figma {
    width: 40px;
    position: absolute;
    left: 6%;
    top: 75%;
}
.logo_symphony {
    width: 40px;
    position: absolute;
    left: 20%;
    top: 13%;
}
.logo_bookstrap {
    width: 40px;
    position: absolute;
    left: 37%;
    top: 50%;
}
.logo_javascript {
    width: 40px;
    position: absolute;
    left: 20%;
    bottom: 10%;
}
.logo_html {
    width: 40px;
    position: absolute;
    left: 5%;
    top: 25%;
}
.logo_php {
    width: 40px;
    position: absolute;
    left: 33%;
    top: 25%;
}
.logo_code {
    width: 40px;
    position: absolute;
    left: 33%;
    top: 75%;
}
.text_accroche_h {
    position: absolute;
    left: 45%;
    top: 30%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #B1E4D7;
    text-shadow: 0px 4px 4px #F4DED3;
}

.text_accroche_b {
    position: absolute;
    left: 45%;
    top: 37%;
    font-family: 'Ruda';
    font-style: Bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.42px;
    display: flex;
    align-items: center;
    color: #B1E4D7;
    text-shadow: 0px 4px 4px #F4DED3;
}

.text_accroche_d {
    position: absolute;
    left: 45%;
    top: 45%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #B1E4D7;
    text-shadow: 0px 4px 4px #F4DED3;
}

.btn_cv_t {
    position: absolute;
    left: 5%;
    top: 20%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px #C0564B;
}

#btn_cv {
    position: absolute;
    height: 83px;
    width: 294px;
    left: 60%;
    top: 70%;
    background: #F4DED3;
    box-shadow: 0px 8px 8px #B1E4D7;
    border-radius: 10px;
}

#cercle {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
}

.self {
    position: absolute;
    width: 90%;
    left: 3%;
    bottom: 0%;
    border-radius: 50%;
}

/* deuxième page */

#front_back {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.front_block {
    height: 639px;
    width: 514px;
    position: absolute;
    left: 300px;
    top: 20%;
    background: rgba(177, 228, 215, 1);
    box-shadow: 15px 15px 15px #F4DED3;
    border-radius: 10px;
}

.front_back_f {
    padding-top: 50px;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: block;
    text-align: center;
    color: #F4DED3;
    text-shadow: 2px 2px 2px #C0564B;
}

.front_back_s {
    padding-top: 150px;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

.front_back_e {
    padding-top: 40px;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

.back_block {
    height: 639px;
    width: 514px;
    position: absolute;
    right: 300px;
    top: 20%;
    background: rgba(177, 228, 215, 1);
    box-shadow: 15px 15px 15px #F4DED3;
    border-radius: 10px;
}

.front_back_b {
    font-family: 'Ruda';
    font-style: normal;
    font-size: 64px;
    display: block;
    padding-top: 50px;
    text-align: center;
    color: #F4DED3;
    text-shadow: 2px 2px 2px #C0564B;
}

.front_back_si {
    padding-top: 150px;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 48px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

.front_back_ba {
    padding-top: 40px;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 48px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px rgba(192, 86, 75, 0.5);
}

/*3ème page projets dev*/

#projets {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.portfolio {
    position: absolute;
    left: 30%;
    top: 5%;
    bottom: 79.62%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
}

.mes_projets {
    position: absolute;
    left: 55%;
    top: 15%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.cercle_portfolio {
    position: absolute;
    height: 458.72845458984375px;
    width: 479.56622314453125px;
    left: 256.51214599609375px;
    top: 366.271484375px;
    background-image: url(img/Capture\ d’écran\ 2022-03-28\ à\ 10.08.24.png);
    border: solid 40px;
    border-color: #B1E4D7;
    border-radius: 50%;
    margin-left: 25%;
}

.cercle_portfolio_1 {
    position: absolute;
    height: 118.53448486328125px;
    width: 123.9189453125px;
    left: 546.482421875px;
    top: 307.00439453125px;
    border-radius: 50%;
    background: #F4DED3;
    margin-left: 25%;
}

.cercle_portfolio_2 {
    position: absolute;
    height: 118.53448486328125px;
    width: 123.91888427734375px;
    left: 658.0094604492188px;
    top: 393.534423828125px;
    border-radius: 50%;
    background: #F4DED3;
    margin-left: 25%;
}

.cercle_portfolio_3 {
    position: absolute;
    height: 118.534423828125px;
    width: 123.91888427734375px;
    left: 719.9689331054688px;
    top: 536.961181640625px;
    border-radius: 50%;
    background: #F4DED3;
    margin-left: 25%;
}

.cercle_portfolio_4 {
    position: absolute;
    height: 118.53448486328125px;
    width: 123.91888427734375px;
    left: 658.0094604492188px;
    top: 680.387939453125px;
    border-radius: 50%;
    background: #F4DED3;
    margin-left: 25%;
}

/* Diplômes formations*/

#diplomes {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.mes_diplomes img {
    position: absolute;
    z-index: -1;
    width: 400px;
    left: -200px;
    top:-130px;
}

.mes_diplomes {
    position: absolute;
    left: 35%;
    top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px rgba(192, 86, 75, 0.5);
}

.formations {
    position: absolute;
    left: 50%;
    top: 15%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 96px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.ligne_p {
    height: 15px;
    width: 80%;
    left: 10%;
    top: 60%;
    border-radius: 15px;
    position: absolute;
    border: 15px solid #B1E4D7;
    box-sizing: border-box;
}

.class_1 {
    position: absolute;
    left: 15%;
    top: 50%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 1px 1px 1px #C0564B;
}

.class_1_1_1 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 55%;
    left: 16%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_2 {
    position: absolute;
    left: 25%;
    top: 70%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.class_1_1_2 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 61%;
    left: 30%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_3 {
    position: absolute;
    left: 40%;
    top: 47%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 1px 1px 1px #C0564B;
}

.class_1_1_3 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 55%;
    left: 44%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_4 {
    position: absolute;
    left: 55%;
    top: 70%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.class_1_1_4 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 61%;
    left: 62%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

.class_5 {
    position: absolute;
    left: 74%;
    top: 43%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 1px 1px 1px #C0564B;
}

.class_1_1_5 {
    position: absolute;
    height: 70px;
    width: 21.825073242187592px;
    top: 55%;
    left: 80%;
    border-radius: 20px;
    border: 16px solid #F4DED3;
    transform: rotate(180deg);
}

/*section expériences*/

.barre_centrale {
    position: absolute;
    height: 5px;
    width: 610px;
    top: 55%;
    left: 32%;
    border: 8px solid #F4DED3;
    background-color: #F4DED3;
    border-radius: 30px;
    box-shadow: 4px 4px 4px #FFFFFF;
    transform: rotate(90deg);
}

.etoile_blanche {
    position: absolute;
    width: 200px;
    top: 15%;
    left: 25%;

}

.triangle_1 {
    position: absolute;
    height: 0;
    width: 0;
    right: 48.5%;
    top: 30%;
    border-left: 25px solid transparent;
    border-bottom: 45px solid #F4DED3;
    border-right: 25px solid transparent;
    transform: rotate(90deg);
}

.trait_1 {
    position: absolute;
    width: 260px;
    top: 31.5%;
    right: 31.5%;
    border: 3px solid #F4DED3;
    border-radius: 30px;
}

.triangle_2 {
    position: absolute;
    height: 0;
    width: 0;
    left: 44%;
    top: 45%;
    border-left: 25px solid transparent;
    border-bottom: 45px solid #F4DED3;
    border-right: 25px solid transparent;
    transform: rotate(-90deg);
}

.trait_2 {
    position: absolute;
    width: 150px;
    top: 48%;
    left: 32.5%;
    border: 3px solid #F4DED3;
    border-radius: 30px;
}

.triangle_3 {
    position: absolute;
    height: 0;
    width: 0;
    right: 48.5%;
    top: 60%;
    border-left: 25px solid transparent;
    border-bottom: 45px solid #F4DED3;
    border-right: 25px solid transparent;
    transform: rotate(90deg);
}

.trait_3 {
    position: absolute;
    width: 200px;
    top: 62%;
    right: 35.5%;
    border: 3px solid #F4DED3;
    border-radius: 30px;
}

.triangle_4 {
    position: absolute;
    height: 0;
    width: 0;
    left: 44%;
    top: 75%;
    border-left: 25px solid transparent;
    border-bottom: 45px solid #F4DED3;
    border-right: 25px solid transparent;
    transform: rotate(-90deg);
}

.trait_4 {
    position: absolute;
    width: 200px;
    top: 78%;
    left: 30%;
    border: 3px solid #F4DED3;
    border-radius: 30px;
}

.img_1 {
    position: absolute;
    right: 0;
}

.img_2 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
}

#experiences {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #B1E4D7;
}

.mes_experiences {
    position: absolute;
    left: 30%;
    top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #C0564B;
}

.professionnels {
    position: absolute;
    left: 50%;
    top: 10%;
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 82px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px #C0564B;
}

.post_1 {
    position: absolute;
    left: 53%;
    top: 25%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.post_2 {
    position: absolute;
    left: 32%;
    top: 42%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.post_3 {
    position: absolute;
    left: 53%;
    top: 56.5%;
    font-family: 'Redressed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.post_4 {
    position: absolute;
    left: 28%;
    top: 72%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Compétences et Qualités*/

#competences_qualites {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.ligne_pointilles {
    position: absolute;
    width: 500px;
    left: 37.5%;
    top: 70%;
    border: 3px dashed #F4DED3;
    transform: rotate(90deg);
}

.ligne_horizontal_1 {
    position: absolute;
    width: 800px;
    bottom: 2%;
    left: 30%;
    border: 4px solid #B1E4D7;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(192, 86, 75, 0.5); 
}

.competences {
    position: absolute;
    left: 30%;
    top: 5%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 96px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
}

.et {
    position: absolute;
    left: 52%;
    top: 10%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 96px;
    align-items: center;
    text-align: center;
    color: #B1E4D7;
}

.qualites {
    position: absolute;
    left: 55%;
    top: 15%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
}

.les_competences {
    position: absolute;
    left: 20%;
    top: 48%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    line-height: 80px;
}

.les_qualites {
    position: absolute;
    left: 55%;
    top: 50%;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    color: #F4DED3;
    line-height: 80px;
}

.point_1 {
    position: absolute;
    height: 47px;
    width: 47px;
    left: 49.5%;
    top: 26.5%;
    border-radius: 50%;
    background: #F4DED3;
    box-shadow: 0px 4px 4px rgba(192, 86, 75, 0.5);
}

.point_2 {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 50.05%;
    top: 27.5%;
    border-radius: 50%;
    background: #B1E4D7;
    box-shadow: 0px 4px 4px rgba(192, 86, 75, 0.5);
}

.lignes_fine_carre {
    position: absolute;
    width: 603px;
    left: 8%;
    top: 28%;
    border-radius: 15px;
    border: 5px solid #F4DED3;
    background: #F4DED3;
    transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}

.lignes_fine_carre_2 {
    position: absolute;
    width: 603px;
    right: 8%;
    top: 28%;
    border-radius: 15px;
    border: 5px solid #F4DED3;
    background: #F4DED3;
    transform: matrix(1, 0.01, -0.01, 1, 0, 0);
}

.carre_ligne {
    height: 76px;
    width: 100vw;
    top: 195px;
    border-radius: 0px;
    position: absolute;
    top: 25%;
    background: #B1E4D7;
    border: 4px solid #F4DED3;
    box-sizing: border-box;
}

.html, .js, .mysql, .symphony {
    font-family: Ruda;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
}

.css, .php, .bookstrap {
    font-family: Redressed;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
}

.organise, .curieux, .ecoute {
    font-family: Reenie Beanie;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
}

.rigoureux, .partage {
    font-family: Ruda;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
}

/* Contact*/

#contact {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.contacts {
    position: absolute;
    height: 115px;
    width: 299px;
    left: 43%;
    top: 5%;
    border-radius: 10px;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
    text-align: center;
    font-family: 'Reenie Beanie';
    align-items: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px #C0564B;
}

.tel {
    position: absolute;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #B1E4D7;
    height: 70px;
    width: 364px;
    top: 70%;
    left: -15%;
}

.cercle_tel {
    position: absolute;
    height: 340px;
    width: 340px;
    left: 25%;
    top: 15%;
    border-radius: 50%;
    border: 30px solid #F4DED3;
    box-sizing: border-box;
}

.tel_svg {
    position: absolute;
    width: 100px;
    left: 30%;
    top: 20%;
}

.e_mail {
    position:absolute;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F4DED3;
    top: 60%;
    left: 5%;
}

.cercle_email {
    position: absolute;
    height: 340px;
    width: 340px;
    left: 60%;
    top: 15%;
    border-radius: 50%;
    border: 30px solid #B1E4D7;
    box-sizing: border-box;
}

.e_mail_svg {
    position: absolute;
    width: 100px;
    left: 32%;
    top: 18%;
}

.cercle_github {
    position: absolute;
    border: 30px solid #B1E4D7;
    box-sizing: border-box;
    height: 277px;
    width: 277px;
    left: 10%;
    top: 45%;
    border-radius: 50%;
}

.cercle_link {
    position: absolute;
    height: 277px;
    width: 277px;
    left: 80%;
    top: 45%;
    border-radius: 50%;
    border: 30px solid #F4DED3;
    box-sizing: border-box;
}

.linkedin {
    position: absolute;
    width: 50%;
    left: 3%;
}

.linkedin {
    position: absolute;
    width: 100px;
    left: 25%;
    top: 23%;
}

.cercle_github .github {
    position: absolute;
    width: 100px;
    left: 25%;
    top: 25%;
}

.etoile_1_1 {
    position: absolute;
    width: 10vw;
    left: 10%;
    top: 10%;
}

.etoile_2_1 {
    position: absolute;
    width: 10vw;
    left: 45%;
    top: 60%;
}

.etoile_3_1 {
    position: absolute;
    width: 10vw;
    left: 80%;
    top: 10%;
}

.bas_de_page {
    position: absolute;
    height: 100px;
    width: 100vw;
    bottom: 0;
    background: #B1E4D7;
}

/* médiaqueries */
