/* RESET DES PARAMETRES CSS */
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*-------------------------------------------- application general------------------------------------------------------------*/

#front_back .container, #projets .container, #diplomes .container, #competences_qualites .container, #contact .container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
}

:root{
    --color-pink: #F4DED3;
    --color-green: #B1E4D7;
    --color-red: #C0564B80;
    --font-redressed: 'Redressed';
    --font-Reenie-Beanie: 'Reenie Beanie';
    --font-Ruda: 'Ruda';
    --font-Rokkitt: 'Rokkitt';
}

.self, .carre_ligne, .glowing, .timeline-panel {
    position: relative;
}

.front_block, .mes_diplomes img, .mes_diplomes, .formations, .ligne_p, .class_1, .class_2, .class_3, .class_4, .class_5, .class_1_1_1, .class_1_1_2, .class_1_1_3, .class_1_1_4, .class_1_1_5, .glowing span, .etoile, .cercle1, .cercle2, .mes_experiences, .professionnels, .timeline:before, .timeline-panel:after, .ligne_horizontal_1, .competences, .les_competences, .qualites, .les_qualites, .et, .cercle1, .cercle2, .lignes_fine_carre, .lignes_fine_carre_2, .lignes_fine_carre_3, .lignes_fine_carre_4, .lignes_fine_carre_5, .contacts ,.back_block, .cercle_tel, .tel_svg, .cercle_email, .e_mail_svg, .cercle_github, .cercle_link, .linkedin, .cercle_github .github, .etoile_1_1, .etoile_1_1, .etoile_2_1, .etoile_3_1, #contact .container-fluid {
    position: absolute;
}

/*---------------------------------------------------première page----------------------------------------------------*/

/* portrait*/
.portrait{
    margin-top: 10%;
}
.self {
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 15px solid var(--color-pink);
    transform: translate(-50%);
}

/*Texte d'accroche*/

#text_accroche {
    padding-top: 25%;
    padding-left: 10%;
}

.text_accroche_h {
    font-family: 'Redressed';
    font-size: 4rem;
    color: var(--color-green);
    text-shadow: 0px 4px 4px var(--color-pink);
}

.text_accroche_b {
    font-family: 'Ruda';
    font-style: Bold;
    font-size: 3rem;
    color: var(--color-green);
    text-shadow: 0px 4px 4px var(--color-pink);
}

.text_accroche_d {
    font-family: 'Reenie Beanie';
    font-size: 4rem;
    color: var(--color-green);
    text-shadow: 0px 4px 4px var(--color-pink);
}

/*bouton*/

.btn {
    background-color: var(--color-pink);
    border-color: var(--color-pink) !important;
    font-family: 'Reenie Beanie';
    font-size: 2rem;;
    color: #fff;
}

.btn:hover {
    font-style: 'Reenie Beanie';
    background-color: var(--color-pink);
    border-color: var(--color-pink);
    box-shadow: none;
    color: #FFFFFF;
}

.btn:focus {
    box-shadow: none;
}

/* ---------------------------------------------------- 2ème page ---------------------------------------------------*/

.front_block {
    height: 60vh;
    width: 25vw;
    left: 20%;
    top: 20%;
    background: rgba(177, 228, 215, 1);
    box-shadow: 15px 15px 15px var(--color-pink);
    border-radius: 10px;
}

.front_block img {
    width: 8vw;
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.front_back_f {
    padding-top: 16%;
    font-family: 'Ruda';
    font-size: 3rem;
    text-align: center;
    color: var(--color-pink);
    text-shadow: 2px 2px 2px var(--color-red);
}

.front_back_s {
    padding-top: 10%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px var(--color-red);
}

.front_back_e {
    padding-top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px var(--color-red);
}

.back_block {
    height: 60vh;
    width: 25vw;
    right: 20%;
    top: 20%;
    background: rgba(177, 228, 215, 1);
    box-shadow: 15px 15px 15px var(--color-pink);
    border-radius: 10px;
}

.back_block img{
    width: 8vw;
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.front_back_b {
    font-family: 'Ruda';
    font-style: normal;
    font-size: 3rem;
    display: block;
    padding-top: 16%;
    text-align: center;
    color: #F4DED3;
    text-shadow: 2px 2px 2px var(--color-red);
}

.front_back_si {
    padding-top: 10%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px var(--color-red);
}

.front_back_ba {
    padding-top: 5%;
    font-family: 'Redressed';
    font-style: normal;
    font-size: 2rem;
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 6px var(--color-red);
}

/*-----------------------------------------------------3ème page----------------------------------------------------------*/

.portfolio {
    display: block;
    font-family: 'Ruda';
    font-size: 4rem;
    margin-left: 35%;
    text-decoration: underline;
    margin-top: 4rem;
    color: var(--color-pink);
}

.mes_projets {
    display: block;
    font-family: 'Redressed';
    font-size: 4rem;
    margin-left: 50%;
    color: var(--color-green);
}

.projet_image {
    border-radius: 50%;
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid var(--color-pink);
}

/*-------------------------------------------------4ème page-----------------------------------------------------------*/

.mes_diplomes img {
    z-index: -1;
    width: 100%;
    left: -45%;
    top: -70%;
}

.mes_diplomes {
    left: 35%;
    top: 10%;
    font-family: 'Redressed';
    font-size: 5rem;
    align-items: center;
    text-align: center;
    color: var(--color-pink);
}

.formations {
    left: 50%;
    top: 20%;
    font-family: 'Reenie Beanie';
    font-size: 5rem;
    align-items: center;
    text-align: center;
    color: var(--color-green);
}

.ligne_p {
    height: 15px;
    width: 80%;
    left: 10%;
    top: 60%;
    border-radius: 15px;
    border: 15px solid var(--color-green);
}

.class_1 {
    left: 14%;
    top: 50%;
    font-family: 'Ruda';
    font-size: 1.8rem;
    align-items: center;
    text-align: center;
    color: var(--color-pink);
    text-shadow: 1px 1px 1px var(--color-pink);
}

.class_1_1_1 {
    height: 7%;
    top: 55%;
    left: 16%;
    border-radius: 20px;
    border: 16px solid var();
    transform: rotate(180deg);
}

.class_2 {
    left: 25%;
    top: 70%;
    font-family: 'Reenie Beanie';
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    color: var(--color-green);
}

.class_1_1_2 {
    height: 7%;
    top: 61%;
    left: 30%;
    border-radius: 20px;
    border: 16px solid var(--color-pink);
    transform: rotate(180deg);
}

.class_3 {
    left: 40%;
    top: 47%;
    font-family: 'Ruda';
    font-size: 1.8rem;
    align-items: center;
    text-align: center;
    color: var(--color-pink);
    text-shadow: 1px 1px 1px var(--color-pink);
}

.class_1_1_3 {
    height: 7%;
    top: 55%;
    left: 45%;
    border-radius: 20px;
    border: 16px solid var(--color-pink);
    transform: rotate(180deg);
}

.class_4 {
    left: 53%;
    top: 70%;
    font-family: 'Reenie Beanie';
    font-size: 48px;
    align-items: center;
    text-align: center;
    color: var(--color-green);
}

.class_1_1_4 {
    height: 7%;
    top: 61%;
    left: 62%;
    border-radius: 20px;
    border: 16px solid var(--color-pink);
    transform: rotate(180deg);

}

.class_5 {
    left: 74%;
    top: 43%;
    font-family: 'Ruda';
    font-size: 1.8rem;
    align-items: center;
    text-align: center;
    color: var(--color-pink);
    text-shadow: 1px 1px 1px var(--color-pink);
}

.class_1_1_5 {
    height: 7%;
    top: 55%;
    left: 80%;
    border-radius: 20px;
    border: 16px solid var(--color-pink);
    transform: rotate(180deg);
}

/*----------------------------------------------------5ème page-------------------------------------------------------------*/

/* animations */

.glowing {
    width:750px;
    height: 750px;
}

.glowing span {
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

/* fin de l'animation */

.etoile {
    left: 5%;
    top: 8%;
    width: 10%;
}

.cercle1 {
    width: 10%;
    top: 0;
    right: 0;
}

.cercle2 {
    width: 10%;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.mes_experiences {
    left: 25%;
    top: 2%;
    font-family: 'Redressed';
    font-size: 4rem;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px var(--color-red);
}

.professionnels {
    right: 20%;
    top: 8%;
    font-family: 'Rokkitt';
    font-size: 4rem;
    align-items: center;
    text-align: center;
    color: var(--color-pink);
    text-shadow: 0px 4px 4px var(--color-red);
}

.heading {
    height: 20vh;
}

.timeline-block{
    width: auto;
    height: 80vh;
}
.timeline { 
    height: 80vh;
    align-items: center;
}
.timeline:before {
    content: " ";
    top: 17%;
    bottom: 18%;
    border-radius: 30px;
    width: 5px;
    background-color: var(--color-pink);
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;

}
.timeline > li:after {
    clear: both;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 80%;
    float: right;
    margin-right: 40px;
    border: 1px solid #fff;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(244,222,211, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    
}
.timeline-panel:after {
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    font-family: 'Reenie Beanie';
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 2rem;
    color: var(--color-green);
}
.timeline-heading h4 {
    text-align: center;
    font-family: 'Redressed';
    color: var(--color-pink);
}

.timeline-heading p {
    text-align: center;
    font-family: 'Ruda';
    margin-bottom: 1rem;
    color: var(--color-green);
}

.timeline-body p {
    text-align: center;
    font-family: 'Ruda';
    color: var(--color-pink);
}

/*------------------------------------------------------6ème page----------------------------------------------*/
/* Compétences et Qualités*/

.ligne_horizontal_1 {
    width: 12%;
    top: 20%;
    left: 45%;
}

.competences {
    left: 15%;
    top: 5%;
    font-family: 'Reenie Beanie';
    font-size: 5rem;
    align-items: center;
    color: var(--color-pink);
}

.et {
    left: 50%;
    top: 5%;
    font-family: 'Reenie Beanie';
    font-size: 5rem;
    color: var(--color-green);
}

.qualites {
    left: 70%;
    top: 7%;
    font-family: 'Ruda';
    font-size: 4rem;
    text-align: center;
    color: var(--color-pink);
}

.lignes_fine_carre_5 {
    height: 20rem;
    top: 45%;
    left: 50%;
    margin-left: 0;
    margin-top: 0;
    border: 8px var(--color-pink);
    border-radius: 15px;
    border-style: dashed;
    transform: rotate(180deg);
}

.lignes_fine_carre_4 {
    width: 15%;
    top: 35%;
    margin-left: 43%;
    border-radius: 15px;
    border: 5px solid var(--color-green);
    background: var(--color-green);
}

.lignes_fine_carre_3 {
    width: 30%;
    top: 90%;
    margin-left: 35%;
    border-radius: 15px;
    border: 5px solid var(--color-green);
    background: var(--color-green);
}

.les_competences {
    left: 15%;
    top: 40%;
    font-family: 'Ruda';
    align-items: center;
    text-align: center;
}

.les_qualites {
    right: 15%;
    top: 43%;
    font-family: 'Ruda';
    align-items: center;
    text-align: center;
}

.cercle_1 {
    top: 15%;
    left: 49.5%;
    border-radius: 50%;
    width: 2.5rem;
    height: auto;
    padding-top: 2.5rem;
    background: var(--color-pink);
}

.cercle_2 {
    top: 20%;
    left: 20%;
    border-radius: 50%;
    width: 1.5rem;
    height: auto;
    padding-top: 1.5rem;
    background: var(--color-green);
}

.lignes_fine_carre {
    width: 30%;
    left: 8%;
    top: 40%;
    border-radius: 15px;
    border: 5px solid var(--color-pink);
    background: var(--color-pink);
}

.lignes_fine_carre_2 {
    width: 30%;
    right: 8%;
    top: 40%;
    border-radius: 15px;
    border: 5px solid #F4DED3;
    background: #F4DED3;
}

.carre_ligne {
    height: 7%;
    width: 100vw;
    top: 23%;
    border-radius: 0px;
    background: #B1E4D7;
    border: 4px solid #F4DED3;
    box-sizing: border-box;
}

.html, .js, .mysql, .symphony {
    font-family: 'Ruda';
    font-size: 2.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #B1E4D7;
}

.css, .php, .bookstrap {
    font-family: 'Redressed';
    font-size: 3rem;
    line-height: 2rem;
    text-align: center;
    color: #F4DED3;
}

.organise, .curieux, .ecoute {
    font-family: 'Reenie Beanie';
    font-size: 4rem;
    line-height: 3rem;
    text-align: center;
    color: #F4DED3;
}

.rigoureux, .partage {
    font-family: 'Ruda';
    font-size: 2.4rem;
    line-height: 4rem;
    text-align: center;
    color: #B1E4D7;
}

/* ------------------------------------------------------------7ème page------------------------------------------------*/

.contacts {
    width: 10%;
    left: 44%;
    top: 5%;
    border-radius: 10px;
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    font-family: 'Reenie Beanie';
    align-items: center;
    color: #F4DED3;
    text-shadow: 0px 4px 4px #C0564B;
}

.cercle_tel {
    width: 15rem;
    height: auto;
    padding-top: 15rem;
    left: 25%;
    top: 15%;
    border-radius: 50%;
    border: 30px solid #F4DED3;
}

.tel_svg {
    width: 35%;
    left: 32%;
    top: 32%;
}

.cercle_email {
    width: 15rem;
    height: auto;
    padding-top: 15rem;
    right: 25%;
    top: 15%;
    border-radius: 50%;
    border: 30px solid #B1E4D7;
}

.e_mail_svg {
    width: 40%;
    left: 30%;
    top: 30%;
}

.cercle_github {
    border: 30px solid #B1E4D7;
    width: 15rem;
    height: auto;
    padding-top: 15rem;
    left: 10%;
    top: 45%;
    border-radius: 50%;
}

.cercle_link {
    width: 15rem;
    height: auto;
    padding-top: 15rem;
    right: 10%;
    top: 45%;
    border-radius: 50%;
    border: 30px solid #F4DED3;
}

.linkedin {
    width: 50%;
    left: 25%;
    top: 23%;
}


.cercle_github .github {
    width: 70%;
    left: 15%;
    top: 15%;
}

.etoile_1_1 {
    width: 10vw;
    left: 10%;
    top: 10%;
}

.etoile_2_1 {
    width: 10vw;
    left: 45%;
    top: 60%;
}

.etoile_3_1 {
    width: 10vw;
    right: 10%;
    top: 10%;
}

#contact .container-fluid{
    background: #B1E4D7;
    height: 10%;
    width: 100vw;
    bottom: 0;
    left: 0;
}
/*-------------------------------------------------the end-------------------------------------------------*/