.orbit {
    position: relative;

    .center-image {
        position: absolute;
        z-index: 10;
    }

    ul {
        position: absolute;
        place-items: center;
        list-style: none;
    }

    li {
        position: absolute;
        width: 4rem;
        left: 20%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        font-weight: 500;
    }

    li:nth-child(1) {
        transform: translate(15rem, 0rem);
    }

    li:nth-child(2) {
        transform: translate(10rem, 10rem);
    }

    li:nth-child(3) {
        transform: translate(0, 15rem);
    }

    li:nth-child(4) {
        transform: translate(-10rem, 10rem);
    }

    li:nth-child(5) {
        transform: translate(-15rem, 0rem);
    }

    li:nth-child(6) {
        transform: translate(-10rem, -10rem);
    }

    li:nth-child(7) {
        transform: translate(0, -15rem);
    }

    li:nth-child(8) {
        transform: translate(10rem, -10rem);
    }
}